.collapse-keyframer-wrapper {
  //border: 2px dotted green;

  .closed {
    overflow: hidden;
    background: blue;
    max-height: 30px;
    animation-name: collapse;
    animation-duration: 0.3s;
  }
  .open {
    overflow: hidden;
    background: red;
    max-height: 300px;
    animation-name: expand;
    animation-duration: 0.3s;  }

}

@keyframes expand {
  from {
    background: blue;
    max-height: 30px;
  }

  to {
    background: red;
    max-height: 300px;
  }
}
@keyframes collapse {
  from {
    max-height: 300px;
    background: red;
  }

  to {
    max-height: 30px;
    background: blue;
  }
}

.collapse-keyframer-example-wrapper {
  border: 2px dotted black;
  padding: 300px;
}
