.collapse-transition-wrapper {
  max-width: 300px;
  .closed {
    overflow: hidden;
    max-height: 30px;
  }
  .open {
    overflow: hidden;
    max-height: 300px;
  }
}


.collapse-transition-example-wrapper {
  border: 2px dotted black;
  padding: 300px;
}
