.collapse-transition-wrapper {
  overflow: hidden;
  width: fit-content;

  .content {
    display: block;
    overflow: hidden;
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    //padding: 8px;
  }
  .button {
    border: none;
    background-color: inherit;
  }
  .button:hover {
    text-decoration: underline;
  }
  .button:focus {
    outline: none;
  }
}


.collapse-transition-example-wrapper {
  border: 2px dotted black;
  padding: 300px;
}
