@import '~purecss/build/pure.css';

body {
  overflow-x: hidden;
}
.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


.root {
  width: 100%;
  height: 1000px;
  font-size: 48px;
  user-select: none;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}
.viewport {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 200px;
}
.checkbox {
  border-width: 10px;
  border-style: solid;
  color: #000;
  width: 160px;
  height: 160px;
  border-radius: 20px;
  font-size: 160px;
  line-height: 1.0;
  text-align: center;
}

.dotted {
  border: 1px dotted red;
}

.block {
  width: 99%;
  padding-bottom: 100px;
}

.titleXXL {
  font-size: 36px;
  text-align: center;
}

$font-normal-color: #212529;

.cv-content-wrapper {
  display: flex;
  .left {
    padding-left: 12px;
    padding-right: 12px;
  }
  .workplace-title {
    font-weight: bold;
    color:$font-normal-color;
    font-size: 18px;
  }
  .description-block {
    padding-top: 30px;
  }
  .description {
    font-weight: bold;
    color: #6C757D;
    font-size: 12px;
  }
  .large-text {
    color: $font-normal-color;
    font-size: 14px;
  }


  .marginTopS {
    margin-top: 20px;
  }
  .marginTopM {
    margin-top: 30px;
  }
  .marginTopL {
    margin-top: 40px;
  }
  .marginBottomXS {
    margin-bottom: 10px;
  }
  .marginBottomS {
    margin-bottom: 20px;
  }
  .marginBottomM {
    margin-bottom: 30px;
  }
  .marginBottomL {
    margin-bottom: 40px;
  }
}


.example-component {
  border: 1px solid red;
  background-color: green;
  height: 300px;
  width: 75px;
  display: flex;

  span {
    border: 4px dotted black;
    align-self: flex-end;
  }
}
