@import '~purecss/build/pure.css';

body {
  overflow-x: hidden;
}
.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


.root {
  width: 100%;
  height: 1000px;
  font-size: 48px;
  user-select: none;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}
.viewport {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 200px;
}
.checkbox {
  border-width: 10px;
  border-style: solid;
  color: #000;
  width: 160px;
  height: 160px;
  border-radius: 20px;
  font-size: 160px;
  line-height: 1.0;
  text-align: center;
}

.dotted {
  border: 1px dotted red;
}

.block {
  width: 99%;
  padding-bottom: 100px;
}

.titleXXL {
  font-size: 36px;
  text-align: center;
}

$font-normal-color: #212529;

.marginTopXXS {
  margin-top: 3px;
}
.marginTopXS {
  margin-top: 10px;
}
.marginTopS {
  margin-top: 20px;
}
.marginTopM {
  margin-top: 30px;
}
.marginTopL {
  margin-top: 40px;
}
.marginBottomXXS {
  margin-bottom: 3px;
}
.marginBottomXS {
  margin-bottom: 10px;
}
.marginBottomS {
  margin-bottom: 20px;
}
.marginBottomM {
  margin-bottom: 30px;
}
.marginBottomL {
  margin-bottom: 40px;
}
.marginBottomXL {
  margin-bottom: 50px;
}
.paddingBottomXXS {
  padding-bottom: 3px;
}
.paddingBottomXS {
  padding-bottom: 10px;
}
.paddingBottomS {
  padding-bottom: 20px;
}
.paddingBottomM {
  padding-bottom: 30px;
}
.paddingBottomL {
  padding-bottom: 40px;
}
.paddingBottomXL {
  padding-bottom: 50px;
}

.cv-content-wrapper {
  display: flex;

  .cv-project-wrapper {
    display: flex;
  }

  .left {
    padding-left: 12px;
    padding-right: 12px;
  }
  .right {

  }
  .workplace-title {
    font-weight: bold;
    color:$font-normal-color;
    font-size: 18px;
  }
  .description-block {
    padding-top: 30px;
  }
  .description {
    font-weight: bold;
    color: #6C757D;
    font-size: 12px;
  }
  .large-text {
    color: $font-normal-color;
    font-size: 14px;
  }

  .p {
    text-align: justify;
    text-justify: inter-word;
  }



}


.example-component {
  background-color: green;
  height: 300px;
  width: 75px;
  display: flex;

  span {
    border: 4px dotted black;
    align-self: flex-end;
  }
}

.asdf-asdf {
  border: 3px solid green;
  padding: 100px;
  max-width: 100px;
}

.collapse {
  //color: rgb(108, 117, 125);
  color: rgb(173, 181, 189);
}
